*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eb9696;
}

#clock{
    font-size: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(57, 42, 194);
    padding: 20px 40px;
    border-radius: 10px;
}